body{
    color: #82C7F1 !important;
    background: url("../img/background.png");
}
.disabled{
    cursor: not-allowed !important;
    pointer-events: visible !important;  
}
.btn-xl{
    width: 100%;
}
 .btn-xl:focus{
    outline:0;
 }